@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: 'Kumbh Sans' , sans-serif;
    }
}
@layer components {
    .thumbnail-active {
        border: solid 2px;
        @apply border-orange;
        opacity: 40%;
    }

    .li-style{
        @apply text-very-dark-blue;
        @apply h-8;
        @apply items-center;
        @apply hover:text-orange;
    }

    
}